In [1]:
import warnings, datetime
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

import datetime

plt.rcParams["patch.force_edgecolor"] = True
plt.style.use('fivethirtyeight')
mpl.rc('patch', edgecolor = 'dimgray', linewidth=1)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "last_expr"
pd.options.display.max_columns = 50
warnings.filterwarnings("ignore")
#df = pd.read_csv('2016.csv', low_memory=False)
df = pd.read_pickle("2016.pkl")

In [2]:
df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,2107.0,13.0,2144,2120.0,-24.0,0.0,NaN,0.0,309.0,285.0,249.0,1979.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,2315.0,4.0,2321,2319.0,-2.0,0.0,NaN,0.0,116.0,109.0,92.0,640.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,542.0,5.0,600,547.0,-13.0,0.0,NaN,0.0,245.0,231.0,207.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,2205.0,8.0,2229,2213.0,-16.0,0.0,NaN,0.0,213.0,193.0,173.0,1590.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,1416.0,4.0,1216,1420.0,124.0,0.0,NaN,0.0,136.0,188.0,121.0,874.0,72.0,0.0,52.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,2016-12-31,NK,112,IAH,BWI,615,613.0,-2.0,12.0,625.0,949.0,11.0,1005,1000.0,-5.0,0.0,NaN,0.0,170.0,167.0,144.0,1235.0,NaN,NaN,NaN,NaN,NaN,NaN
5617654,2016-12-31,NK,113,BWI,IAH,2108,2229.0,81.0,9.0,2238.0,40.0,9.0,2342,49.0,67.0,0.0,NaN,0.0,214.0,200.0,182.0,1235.0,0.0,0.0,0.0,0.0,67.0,NaN
5617655,2016-12-31,NK,121,ORD,RSW,700,704.0,4.0,11.0,715.0,1031.0,4.0,1052,1035.0,-17.0,0.0,NaN,0.0,172.0,151.0,136.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
5617656,2016-12-31,NK,124,RSW,ORD,1704,1711.0,7.0,9.0,1720.0,1854.0,7.0,1907,1901.0,-6.0,0.0,NaN,0.0,183.0,170.0,154.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN
5617657,2016-12-31,NK,126,FLL,MYR,2015,2208.0,113.0,21.0,2229.0,2344.0,6.0,2153,2350.0,117.0,0.0,NaN,0.0,98.0,102.0,75.0,529.0,113.0,0.0,4.0,0.0,0.0,NaN

In [3]:
coordinate = pd.read_pickle("coordinate_interpolate.pkl")
coordinate

,IATA_CODE,AIRPORT,CITY,STATE,COUNTRY,LATITUDE,LONGITUDE,WEATHER,WEATHER_INTERPOLATE
0,ABE,Lehigh Valley International Airport,Allentown,PA,USA,40.65236,-75.44040,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp s...
1,ABI,Abilene Regional Airport,Abilene,TX,USA,32.41132,-99.68190,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp s...
2,ABQ,Albuquerque International Sunport,Albuquerque,NM,USA,35.04022,-106.60919,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp s...
3,ABR,Aberdeen Regional Airport,Aberdeen,SD,USA,45.44906,-98.42183,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp s...
4,ABY,Southwest Georgia Regional Airport,Albany,GA,USA,31.53552,-84.19447,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp ...
...,...,...,...,...,...,...,...,...,...
317,WRG,Wrangell Airport,Wrangell,AK,USA,56.48433,-132.36982,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prc...
318,WYS,Westerly State Airport,West Yellowstone,MT,USA,44.68840,-111.11764,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp s...
319,XNA,Northwest Arkansas Regional Airport,Fayetteville/Springdale/Rogers,AR,USA,36.28187,-94.30681,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp s...
320,YAK,Yakutat Airport,Yakutat,AK,USA,59.50336,-139.66023,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp ...
321,YUM,Yuma International Airport,Yuma,AZ,USA,32.65658,-114.60597,<meteostat.interface.hourly.Hourly object at 0...,temp dwpt rhum prcp ...

In [5]:
list(coordinate['IATA_CODE']).index('ADQ')

10

In [4]:
df['DATE']=pd.to_datetime(df['FL_DATE'])
#出发地或者目的地的机场信息不存在的记录应该去掉方便处理
df = df.loc[df["ORIGIN"].isin(coordinate['IATA_CODE']) & df["DEST"].isin(coordinate['IATA_CODE'])]

In [5]:
df

,FL_DATE,OP_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 27,DATE
0,2016-01-01,DL,1248,DTW,LAX,1935,1935.0,0.0,23.0,1958.0,2107.0,13.0,2144,2120.0,-24.0,0.0,NaN,0.0,309.0,285.0,249.0,1979.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
1,2016-01-01,DL,1251,ATL,GRR,2125,2130.0,5.0,13.0,2143.0,2315.0,4.0,2321,2319.0,-2.0,0.0,NaN,0.0,116.0,109.0,92.0,640.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
2,2016-01-01,DL,1254,LAX,ATL,2255,2256.0,1.0,19.0,2315.0,542.0,5.0,600,547.0,-13.0,0.0,NaN,0.0,245.0,231.0,207.0,1947.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
3,2016-01-01,DL,1255,SLC,ATL,1656,1700.0,4.0,12.0,1712.0,2205.0,8.0,2229,2213.0,-16.0,0.0,NaN,0.0,213.0,193.0,173.0,1590.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-01-01
4,2016-01-01,DL,1256,BZN,MSP,900,1012.0,72.0,63.0,1115.0,1416.0,4.0,1216,1420.0,124.0,0.0,NaN,0.0,136.0,188.0,121.0,874.0,72.0,0.0,52.0,0.0,0.0,NaN,2016-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5617653,2016-12-31,NK,112,IAH,BWI,615,613.0,-2.0,12.0,625.0,949.0,11.0,1005,1000.0,-5.0,0.0,NaN,0.0,170.0,167.0,144.0,1235.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-31
5617654,2016-12-31,NK,113,BWI,IAH,2108,2229.0,81.0,9.0,2238.0,40.0,9.0,2342,49.0,67.0,0.0,NaN,0.0,214.0,200.0,182.0,1235.0,0.0,0.0,0.0,0.0,67.0,NaN,2016-12-31
5617655,2016-12-31,NK,121,ORD,RSW,700,704.0,4.0,11.0,715.0,1031.0,4.0,1052,1035.0,-17.0,0.0,NaN,0.0,172.0,151.0,136.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-31
5617656,2016-12-31,NK,124,RSW,ORD,1704,1711.0,7.0,9.0,1720.0,1854.0,7.0,1907,1901.0,-6.0,0.0,NaN,0.0,183.0,170.0,154.0,1120.0,NaN,NaN,NaN,NaN,NaN,NaN,2016-12-31
5617657,2016-12-31,NK,126,FLL,MYR,2015,2208.0,113.0,21.0,2229.0,2344.0,6.0,2153,2350.0,117.0,0.0,NaN,0.0,98.0,102.0,75.0,529.0,113.0,0.0,4.0,0.0,0.0,NaN,2016-12-31

In [6]:
total = df.isnull().sum().sort_values(ascending=False)
percent=(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
#pd.concat([total, percent], axis=1, keys=['Total', 'Percent']

In [7]:
pd.concat([total,percent],axis=1,keys=['Total','Percent'])

                       Total   Percent
Unnamed: 27          5617487  1.000000
CANCELLATION_CODE    5551636  0.988277
LATE_AIRCRAFT_DELAY  4653271  0.828355
SECURITY_DELAY       4653271  0.828355
NAS_DELAY            4653271  0.828355
CARRIER_DELAY        4653271  0.828355
WEATHER_DELAY        4653271  0.828355
ARR_DELAY              79500  0.014152
AIR_TIME               79500  0.014152
ACTUAL_ELAPSED_TIME    79500  0.014152
ARR_TIME               67832  0.012075
WHEELS_ON              67832  0.012075
TAXI_IN                67832  0.012075
WHEELS_OFF             65408  0.011644
TAXI_OUT               65408  0.011644
DEP_DELAY              63447  0.011295
DEP_TIME               63447  0.011295
CRS_ELAPSED_TIME           6  0.000001
DISTANCE                   0  0.000000
FL_DATE                    0  0.000000
DIVERTED                   0  0.000000
CANCELLED                  0  0.000000
OP_CARRIER                 0  0.000000
CRS_ARR_TIME               0  0.000000
CRS_DEP_TIME               0  0.000000
DEST                       0  0.000000
ORIGIN                     0  0.000000
OP_CARRIER_FL_NUM          0  0.000000
DATE                       0  0.000000

In [8]:
df=df.loc[:,['DATE','ORIGIN','DEST','CRS_DEP_TIME','WHEELS_OFF','WHEELS_ON','CRS_ARR_TIME','DEP_TIME','ARR_TIME','DISTANCE','DEP_DELAY','ARR_DELAY']]
df.isnull()
df.info()
#df.dropna(axis=1, inplace=True)
df=df.dropna()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5617487 entries, 0 to 5617657
Data columns (total 12 columns):
 #   Column        Dtype
---  ------        -----
 0   DATE          datetime64[ns]
 1   ORIGIN        object
 2   DEST          object
 3   CRS_DEP_TIME  int64
 4   WHEELS_OFF    float64
 5   WHEELS_ON     float64
 6   CRS_ARR_TIME  int64
 7   DEP_TIME      float64
 8   ARR_TIME      float64
 9   DISTANCE      float64
 10  DEP_DELAY     float64
 11  ARR_DELAY     float64
dtypes: datetime64[ns](1), float64(7), int64(2), object(2)
memory usage: 557.2+ MB

In [9]:
total = df.isnull().sum().sort_values(ascending=False)
percent=(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
pd.concat([total,percent],axis=1,keys=['Total','Percent'])

              Total  Percent
DATE              0      0.0
ORIGIN            0      0.0
DEST              0      0.0
CRS_DEP_TIME      0      0.0
WHEELS_OFF        0      0.0
WHEELS_ON         0      0.0
CRS_ARR_TIME      0      0.0
DEP_TIME          0      0.0
ARR_TIME          0      0.0
DISTANCE          0      0.0
DEP_DELAY         0      0.0
ARR_DELAY         0      0.0

In [10]:
df = df.reset_index(drop=True)

In [11]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY
0,2016-01-01,DTW,LAX,1935,1958.0,2107.0,2144,1935.0,2120.0,1979.0,0.0,-24.0
1,2016-01-01,ATL,GRR,2125,2143.0,2315.0,2321,2130.0,2319.0,640.0,5.0,-2.0
2,2016-01-01,LAX,ATL,2255,2315.0,542.0,600,2256.0,547.0,1947.0,1.0,-13.0
3,2016-01-01,SLC,ATL,1656,1712.0,2205.0,2229,1700.0,2213.0,1590.0,4.0,-16.0
4,2016-01-01,BZN,MSP,900,1115.0,1416.0,1216,1012.0,1420.0,874.0,72.0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,615,625.0,949.0,1005,613.0,1000.0,1235.0,-2.0,-5.0
5537983,2016-12-31,BWI,IAH,2108,2238.0,40.0,2342,2229.0,49.0,1235.0,81.0,67.0
5537984,2016-12-31,ORD,RSW,700,715.0,1031.0,1052,704.0,1035.0,1120.0,4.0,-17.0
5537985,2016-12-31,RSW,ORD,1704,1720.0,1854.0,1907,1711.0,1901.0,1120.0,7.0,-6.0
5537986,2016-12-31,FLL,MYR,2015,2229.0,2344.0,2153,2208.0,2350.0,529.0,113.0,117.0

In [12]:
'''
for i in range(df.shape[0]):
    df['ORIGIN'][i]=list(coordinate['IATA_CODE']).index(df['ORIGIN'][i])
    df['DEST'][i]=list(coordinate['IATA_CODE']).index(df['DEST'][i])
 '''

"\nfor i in range(df.shape[0]):\n    df['ORIGIN'][i]=list(coordinate['IATA_CODE']).index(df['ORIGIN'][i])\n    df['DEST'][i]=list(coordinate['IATA_CODE']).index(df['DEST'][i])\n "

In [13]:
#_________________________________________________________
# Function that convert the 'HHMM' string to datetime.time
#from numba import jit
#@jit(nopython=True)#使用numba库编译
def format_heure(chaine):
    if pd.isnull(chaine):
        return np.nan
    else:
        if chaine == 2400: chaine = 0
        chaine = "{0:04d}".format(int(chaine))
        heure = datetime.time(int(chaine[0:2]), int(chaine[2:4]))
        return heure
#__________________________________________________ ___________________
# Function that combines a date and time to produce a datetime.datetime
def combine_date_heure(x):
    if pd.isnull(x[0]) or pd.isnull(x[1]):
        return np.nan
    else:
        return datetime.datetime.combine(x[0],x[1])
    #_______________________________________________________________________________
# Function that combine two columns of the dataframe to create a datetime format
def create_flight_time(df, col):    
    liste = []
    for index, cols in df[['DATE', col]].iterrows():    
        if pd.isnull(cols[1]):
            liste.append(np.nan)
        elif float(cols[1]) == 2400:
            cols[0] += datetime.timedelta(days=1)
            cols[1] = datetime.time(0,0)
            liste.append(combine_date_heure(cols))
        else:
            cols[1] = format_heure(cols[1])
            liste.append(combine_date_heure(cols))
    return pd.Series(liste)

In [14]:
'''
start = time.time()
df['CRS_DEP_TIME'] = create_flight_time(df,'CRS_DEP_TIME')
df['WHEELS_OFF'] = create_flight_time(df,'WHEELS_OFF')
df['WHEELS_ON'] = create_flight_time(df,'WHEELS_ON')
df['CRS_ARR_TIME'] = create_flight_time(df,'CRS_ARR_TIME')
df['DEP_TIME'] = create_flight_time(df,'DEP_TIME')
df['ARR_TIME'] = create_flight_time(df,'ARR_TIME')
end = time.time()
length = end - start
print("耗时", length, "秒")
#这段运行很慢
'''

'\nstart = time.time()\ndf[\'CRS_DEP_TIME\'] = create_flight_time(df,\'CRS_DEP_TIME\')\ndf[\'WHEELS_OFF\'] = create_flight_time(df,\'WHEELS_OFF\')\ndf[\'WHEELS_ON\'] = create_flight_time(df,\'WHEELS_ON\')\ndf[\'CRS_ARR_TIME\'] = create_flight_time(df,\'CRS_ARR_TIME\')\ndf[\'DEP_TIME\'] = create_flight_time(df,\'DEP_TIME\')\ndf[\'ARR_TIME\'] = create_flight_time(df,\'ARR_TIME\')\nend = time.time()\nlength = end - start\nprint("耗时", length, "秒")\n#这段运行很慢\n'

In [15]:
import time
start = time.time()

from joblib import Parallel, delayed

def process_column(df, col):
    return create_flight_time(df, col)

cols = ['CRS_DEP_TIME', 'WHEELS_OFF', 'WHEELS_ON', 'CRS_ARR_TIME', 'DEP_TIME', 'ARR_TIME']
results = Parallel(n_jobs=-1)(delayed(process_column)(df, col) for col in cols)
df[cols] = pd.concat(results, axis=1)
end = time.time()
length = end - start
print("耗时", length, "秒")

耗时 220.23997330665588 秒

In [16]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,0.0,-24.0
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,5.0,-2.0
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,1.0,-13.0
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,4.0,-16.0
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,72.0,124.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,-2.0,-5.0
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,81.0,67.0
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,4.0,-17.0
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,7.0,-6.0
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,113.0,117.0

In [17]:


start = time.time()

# 定义一个函数，返回IATA代码在coordinate字典中的索引
def get_index(iata_code):
    return list(coordinate['IATA_CODE']).index(iata_code)

# 将函数应用到ORIGIN和DEST列，并将结果赋值给新列
df['ORIGIN_INDEX'] = df['ORIGIN'].apply(get_index)
df['DEST_INDEX'] = df['DEST'].apply(get_index)

end = time.time()
length = end - start
print("耗时", length, "秒")

耗时 163.15625143051147 秒

In [18]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,ORIGIN_INDEX,DEST_INDEX
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,0.0,-24.0,93,176
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,5.0,-2.0,20,130
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,1.0,-13.0,176,20
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,4.0,-16.0,286,20
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,72.0,124.0,52,216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,-2.0,-5.0,151,51
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,81.0,67.0,51,151
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,4.0,-17.0,228,266
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,7.0,-6.0,266,228
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,113.0,117.0,114,220

In [19]:
df.to_pickle("2016_temp1.pkl")

In [1]:
import warnings, datetime
import pandas as pd
import numpy as np

import matplotlib as mpl
import matplotlib.pyplot as plt

import datetime
df = pd.read_pickle("2016_temp1.pkl")
coordinate = pd.read_pickle("coordinate_interpolate.pkl")

In [2]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,ORIGIN_INDEX,DEST_INDEX
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,0.0,-24.0,93,176
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,5.0,-2.0,20,130
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,1.0,-13.0,176,20
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,4.0,-16.0,286,20
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,72.0,124.0,52,216
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,-2.0,-5.0,151,51
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,81.0,67.0,51,151
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,4.0,-17.0,228,266
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,7.0,-6.0,266,228
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,113.0,117.0,114,220

In [3]:
df = df.assign(O_LATITUDE=0.0,
               O_LONGITUDE=0.0,
               D_LATITUDE=0.0,
               D_LONGITUDE=0.0,
               O_WEATHER=pd.Series(dtype='object'),
               D_WEATHER=pd.Series(dtype='object'),
               O_TEMP=0.0,
               O_PRCP=0.0,
               O_WSPD=0.0,
               D_TEMP=0.0,
               D_PRCP=0.0,
               D_WSPD=0.0)
#预先分配空间速度会快一些

In [4]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,...,D_LATITUDE,D_LONGITUDE,O_WEATHER,D_WEATHER,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,...,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
import time
start = time.time()


# 定义一个函数，根据输入的行数据获取经纬度和天气数据
def get_coordinate_and_weather(row):
    # 从coordinate数据框中获取对应的经纬度和天气数据
    row['O_LATITUDE'] = coordinate.loc[row['ORIGIN_INDEX'], 'LATITUDE']
    row['O_LONGITUDE'] = coordinate.loc[row['ORIGIN_INDEX'], 'LONGITUDE']
    row['D_LATITUDE'] = coordinate.loc[row['DEST_INDEX'], 'LATITUDE']
    row['D_LONGITUDE'] = coordinate.loc[row['DEST_INDEX'], 'LONGITUDE']
    row['O_WEATHER'] = coordinate.loc[row['ORIGIN_INDEX'], 'WEATHER_INTERPOLATE']
    row['D_WEATHER'] = coordinate.loc[row['DEST_INDEX'], 'WEATHER_INTERPOLATE']
    # 返回修改后的行数据
    return row

# 使用apply循环对每一行数据调用get_coordinate_and_weather函数，并将结果赋值给df
df = df.apply(get_coordinate_and_weather, axis=1)

#print("222")


import datetime

# 四舍五入到最近的整点
def rounder(t):
    if t.minute >= 30:
        # 增加一个小时
        return (t + datetime.timedelta(hours=1)).replace(second=0, microsecond=0, minute=0)
    else:
        return t.replace(second=0, microsecond=0, minute=0)


# 定义一个函数，根据输入的时间以及机场天气数据查询天气数据，并返回temp,prcp,wspd
def query_weather(time,weather):
    # 将时间四舍五入到最近的整点
    time = rounder(time)
    try:
        row = weather.loc[time]
        # 返回temp,prcp,wspd
        return row['temp'], row['prcp'], row['wspd']
    except KeyError:
        # 如果找不到对应的行，说明没有天气记录
        # print('没有天气记录')
        return None, None, None





# 定义一个函数，根据输入的行数据查询出发地和目的地的温度、降水量和风速
def get_temp_prcp_wspd(row):
    # 调用query_weather函数，传入出发时间和出发地天气数据
    row['O_TEMP'], row['O_PRCP'], row['O_WSPD'] = query_weather(row['CRS_DEP_TIME'], row['O_WEATHER'])
    # 调用query_weather函数，传入到达时间和目的地天气数据
    row['D_TEMP'], row['D_PRCP'], row['D_WSPD'] = query_weather(row['CRS_ARR_TIME'], row['D_WEATHER'])
    # 返回修改后的行数据
    return row

# 使用apply循环对每一行数据调用get_temp_prcp_wspd函数，并将结果赋值给df
df = df.apply(get_temp_prcp_wspd, axis=1)
end = time.time()
length = end - start
print("耗时", length, "秒")

222
耗时 1913.9837527275085 秒

In [11]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,...,O_LATITUDE,O_LONGITUDE,D_LATITUDE,D_LONGITUDE,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,...,42.21206,-83.34884,33.94254,-118.40807,-1.7,0.0,24.1,18.3,0.0,5.4
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,...,33.64044,-84.42694,42.88082,-85.52277,7.8,0.0,11.2,-1.7,0.0,22.3
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,...,33.94254,-118.40807,33.64044,-84.42694,17.8,0.0,0.0,6.7,0.0,16.6
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,...,40.78839,-111.97777,33.64044,-84.42694,-13.3,0.0,7.6,7.2,0.0,18.4
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,...,45.77690,-111.15301,44.88055,-93.21692,-20.0,0.0,0.0,-8.9,0.0,18.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,...,29.98047,-95.33972,39.17540,-76.66820,NaN,NaN,NaN,NaN,NaN,NaN
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,...,39.17540,-76.66820,29.98047,-95.33972,NaN,NaN,NaN,NaN,NaN,NaN
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,...,41.97960,-87.90446,26.53617,-81.75517,NaN,NaN,NaN,NaN,NaN,NaN
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,...,26.53617,-81.75517,41.97960,-87.90446,NaN,NaN,NaN,NaN,NaN,NaN
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,...,26.07258,-80.15275,33.67975,-78.92833,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.iloc[5525985]

DATE            2016-12-30 00:00:00
ORIGIN                          PWM
DEST                            JFK
CRS_DEP_TIME    2016-12-30 05:45:00
WHEELS_OFF      2016-12-30 08:23:00
WHEELS_ON       2016-12-30 09:14:00
CRS_ARR_TIME    2016-12-30 07:10:00
DEP_TIME        2016-12-30 08:12:00
ARR_TIME        2016-12-30 09:23:00
DISTANCE                      273.0
DEP_DELAY                     147.0
ARR_DELAY                     133.0
ORIGIN_INDEX                    253
DEST_INDEX                      166
O_LATITUDE                 43.64617
O_LONGITUDE               -70.30875
D_LATITUDE                 40.63975
D_LONGITUDE               -73.77893
O_TEMP                         -0.6
O_PRCP                          3.0
O_WSPD                         33.5
D_TEMP                          2.8
D_PRCP                          0.0
D_WSPD                         20.5
Name: 5525985, dtype: object

In [10]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,...,O_LATITUDE,O_LONGITUDE,D_LATITUDE,D_LONGITUDE,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,...,42.21206,-83.34884,33.94254,-118.40807,-1.7,0.0,24.1,18.3,0.0,5.4
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,...,33.64044,-84.42694,42.88082,-85.52277,7.8,0.0,11.2,-1.7,0.0,22.3
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,...,33.94254,-118.40807,33.64044,-84.42694,17.8,0.0,0.0,6.7,0.0,16.6
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,...,40.78839,-111.97777,33.64044,-84.42694,-13.3,0.0,7.6,7.2,0.0,18.4
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,...,45.77690,-111.15301,44.88055,-93.21692,-20.0,0.0,0.0,-8.9,0.0,18.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,...,29.98047,-95.33972,39.17540,-76.66820,NaN,NaN,NaN,NaN,NaN,NaN
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,...,39.17540,-76.66820,29.98047,-95.33972,NaN,NaN,NaN,NaN,NaN,NaN
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,...,41.97960,-87.90446,26.53617,-81.75517,NaN,NaN,NaN,NaN,NaN,NaN
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,...,26.53617,-81.75517,41.97960,-87.90446,NaN,NaN,NaN,NaN,NaN,NaN
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,...,26.07258,-80.15275,33.67975,-78.92833,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.drop(['O_WEATHER', 'D_WEATHER'], axis=1, inplace=True) # 删除O_WEATHER和D_WEATHER两列

In [9]:
df.to_pickle("2016_temp123.pkl")

In [22]:
'''
import datetime

# 四舍五入到最近的整点
def rounder(t):
    if t.minute >= 30:
        # 增加一个小时
        return (t + datetime.timedelta(hours=1)).replace(second=0, microsecond=0, minute=0)
    else:
        return t.replace(second=0, microsecond=0, minute=0)


# 定义一个函数，根据输入的时间以及机场天气数据查询天气数据，并返回temp,prcp,wspd
def query_weather(time,weather):
    # 将时间四舍五入到最近的整点
    time = rounder(time)
    try:
        row = weather.loc[time]
        # 返回temp,prcp,wspd
        return row['temp'], row['prcp'], row['wspd']
    except KeyError:
        # 如果找不到对应的行，说明没有天气记录
        # print('没有天气记录')
        return None, None, None

# 测试函数
time0 = datetime.datetime(2016, 1, 1, 23,35)
temp, prcp, wspd = query_weather(time0,coordinate['WEATHER_INTERPOLATE'][0])
print(temp, prcp, wspd)
'''

1.7 0.0 22.3

In [6]:
'''
df['O_LONGITUDE'] = 0.0
df['O_LATITUDE']=0.0
df['D_LONGITUDE'] = 0.0
df['D_LATITUDE']=0.0
df['O_WEATHER'] = pd.Series(dtype='object',index=range(len(df)))
df['D_WEATHER'] = pd.Series(dtype='object',index=range(len(df)))
df['O_TEMP']=0.0
df['O_PRCP']=0.0
df['O_WSPD']=0.0
df['D_TEMP']=0.0
df['D_PRCP']=0.0
df['D_WSPD']=0.0
'''

In [7]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,ORIGIN_INDEX,DEST_INDEX,O_LONGITUDE,O_LATITUDE,D_LONGITUDE,D_LATITUDE,O_WEATHER,D_WEATHER,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,0.0,-24.0,93,176,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,5.0,-2.0,20,130,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,1.0,-13.0,176,20,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,4.0,-16.0,286,20,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,72.0,124.0,52,216,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,-2.0,-5.0,151,51,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,81.0,67.0,51,151,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,4.0,-17.0,228,266,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,7.0,-6.0,266,228,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,113.0,117.0,114,220,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
i=0
query_weather(df['CRS_DEP_TIME'][i],coordinate['WEATHER_INTERPOLATE'][df['ORIGIN_INDEX'][i]])

NameError: name 'coordinate' is not defined

In [ ]:
df = pd.read_pickle("2016_temp123.pkl")

In [18]:
df1 = df.query("DATE <= '20161230'")

In [19]:
df1

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,...,O_LATITUDE,O_LONGITUDE,D_LATITUDE,D_LONGITUDE,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,...,42.21206,-83.34884,33.94254,-118.40807,-1.7,0.0,24.1,18.3,0.0,5.4
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,...,33.64044,-84.42694,42.88082,-85.52277,7.8,0.0,11.2,-1.7,0.0,22.3
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,...,33.94254,-118.40807,33.64044,-84.42694,17.8,0.0,0.0,6.7,0.0,16.6
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,...,40.78839,-111.97777,33.64044,-84.42694,-13.3,0.0,7.6,7.2,0.0,18.4
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,...,45.77690,-111.15301,44.88055,-93.21692,-20.0,0.0,0.0,-8.9,0.0,18.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5525985,2016-12-30,PWM,JFK,2016-12-30 05:45:00,2016-12-30 08:23:00,2016-12-30 09:14:00,2016-12-30 07:10:00,2016-12-30 08:12:00,2016-12-30 09:23:00,273.0,...,43.64617,-70.30875,40.63975,-73.77893,-0.6,3.0,33.5,2.8,0.0,20.5
5525986,2016-12-30,JFK,BOS,2016-12-30 07:44:00,2016-12-30 08:01:00,2016-12-30 08:43:00,2016-12-30 08:55:00,2016-12-30 07:39:00,2016-12-30 08:46:00,187.0,...,40.63975,-73.77893,42.36435,-71.00518,2.8,0.0,24.1,1.7,0.0,35.3
5525987,2016-12-30,BOS,RIC,2016-12-30 11:00:00,2016-12-30 11:52:00,2016-12-30 13:10:00,2016-12-30 12:51:00,2016-12-30 11:38:00,2016-12-30 13:15:00,474.0,...,42.36435,-71.00518,37.50517,-77.31967,1.7,0.0,31.7,2.2,0.0,18.4
5525988,2016-12-30,RIC,BOS,2016-12-30 13:30:00,2016-12-30 13:52:00,2016-12-30 15:05:00,2016-12-30 14:59:00,2016-12-30 13:45:00,2016-12-30 15:08:00,474.0,...,37.50517,-77.31967,42.36435,-71.00518,3.3,0.0,22.3,2.8,0.0,37.1
5525989,2016-12-30,SJU,JFK,2016-12-30 04:50:00,2016-12-30 06:27:00,2016-12-30 09:04:00,2016-12-30 07:50:00,2016-12-30 06:16:00,2016-12-30 09:13:00,1598.0,...,18.43942,-66.00183,40.63975,-73.77893,25.6,0.0,0.0,2.8,0.0,24.1

In [20]:
df.to_pickle("2016_with_weather.pkl")

In [2]:
df = pd.read_pickle("2016_with_weather.pkl")

In [3]:
df

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,ORIGIN_INDEX,DEST_INDEX,O_LATITUDE,O_LONGITUDE,D_LATITUDE,D_LONGITUDE,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,0.0,-24.0,93,176,42.21206,-83.34884,33.94254,-118.40807,-1.7,0.0,24.1,18.3,0.0,5.4
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,5.0,-2.0,20,130,33.64044,-84.42694,42.88082,-85.52277,7.8,0.0,11.2,-1.7,0.0,22.3
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,1.0,-13.0,176,20,33.94254,-118.40807,33.64044,-84.42694,17.8,0.0,0.0,6.7,0.0,16.6
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,4.0,-16.0,286,20,40.78839,-111.97777,33.64044,-84.42694,-13.3,0.0,7.6,7.2,0.0,18.4
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,72.0,124.0,52,216,45.77690,-111.15301,44.88055,-93.21692,-20.0,0.0,0.0,-8.9,0.0,18.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5537982,2016-12-31,IAH,BWI,2016-12-31 06:15:00,2016-12-31 06:25:00,2016-12-31 09:49:00,2016-12-31 10:05:00,2016-12-31 06:13:00,2016-12-31 10:00:00,1235.0,-2.0,-5.0,151,51,29.98047,-95.33972,39.17540,-76.66820,NaN,NaN,NaN,NaN,NaN,NaN
5537983,2016-12-31,BWI,IAH,2016-12-31 21:08:00,2016-12-31 22:38:00,2016-12-31 00:40:00,2016-12-31 23:42:00,2016-12-31 22:29:00,2016-12-31 00:49:00,1235.0,81.0,67.0,51,151,39.17540,-76.66820,29.98047,-95.33972,NaN,NaN,NaN,NaN,NaN,NaN
5537984,2016-12-31,ORD,RSW,2016-12-31 07:00:00,2016-12-31 07:15:00,2016-12-31 10:31:00,2016-12-31 10:52:00,2016-12-31 07:04:00,2016-12-31 10:35:00,1120.0,4.0,-17.0,228,266,41.97960,-87.90446,26.53617,-81.75517,NaN,NaN,NaN,NaN,NaN,NaN
5537985,2016-12-31,RSW,ORD,2016-12-31 17:04:00,2016-12-31 17:20:00,2016-12-31 18:54:00,2016-12-31 19:07:00,2016-12-31 17:11:00,2016-12-31 19:01:00,1120.0,7.0,-6.0,266,228,26.53617,-81.75517,41.97960,-87.90446,NaN,NaN,NaN,NaN,NaN,NaN
5537986,2016-12-31,FLL,MYR,2016-12-31 20:15:00,2016-12-31 22:29:00,2016-12-31 23:44:00,2016-12-31 21:53:00,2016-12-31 22:08:00,2016-12-31 23:50:00,529.0,113.0,117.0,114,220,26.07258,-80.15275,33.67975,-78.92833,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df1 = df.query("DATE <= '20161230'")

In [5]:
df1

,DATE,ORIGIN,DEST,CRS_DEP_TIME,WHEELS_OFF,WHEELS_ON,CRS_ARR_TIME,DEP_TIME,ARR_TIME,DISTANCE,DEP_DELAY,ARR_DELAY,ORIGIN_INDEX,DEST_INDEX,O_LATITUDE,O_LONGITUDE,D_LATITUDE,D_LONGITUDE,O_TEMP,O_PRCP,O_WSPD,D_TEMP,D_PRCP,D_WSPD
0,2016-01-01,DTW,LAX,2016-01-01 19:35:00,2016-01-01 19:58:00,2016-01-01 21:07:00,2016-01-01 21:44:00,2016-01-01 19:35:00,2016-01-01 21:20:00,1979.0,0.0,-24.0,93,176,42.21206,-83.34884,33.94254,-118.40807,-1.7,0.0,24.1,18.3,0.0,5.4
1,2016-01-01,ATL,GRR,2016-01-01 21:25:00,2016-01-01 21:43:00,2016-01-01 23:15:00,2016-01-01 23:21:00,2016-01-01 21:30:00,2016-01-01 23:19:00,640.0,5.0,-2.0,20,130,33.64044,-84.42694,42.88082,-85.52277,7.8,0.0,11.2,-1.7,0.0,22.3
2,2016-01-01,LAX,ATL,2016-01-01 22:55:00,2016-01-01 23:15:00,2016-01-01 05:42:00,2016-01-01 06:00:00,2016-01-01 22:56:00,2016-01-01 05:47:00,1947.0,1.0,-13.0,176,20,33.94254,-118.40807,33.64044,-84.42694,17.8,0.0,0.0,6.7,0.0,16.6
3,2016-01-01,SLC,ATL,2016-01-01 16:56:00,2016-01-01 17:12:00,2016-01-01 22:05:00,2016-01-01 22:29:00,2016-01-01 17:00:00,2016-01-01 22:13:00,1590.0,4.0,-16.0,286,20,40.78839,-111.97777,33.64044,-84.42694,-13.3,0.0,7.6,7.2,0.0,18.4
4,2016-01-01,BZN,MSP,2016-01-01 09:00:00,2016-01-01 11:15:00,2016-01-01 14:16:00,2016-01-01 12:16:00,2016-01-01 10:12:00,2016-01-01 14:20:00,874.0,72.0,124.0,52,216,45.77690,-111.15301,44.88055,-93.21692,-20.0,0.0,0.0,-8.9,0.0,18.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5525985,2016-12-30,PWM,JFK,2016-12-30 05:45:00,2016-12-30 08:23:00,2016-12-30 09:14:00,2016-12-30 07:10:00,2016-12-30 08:12:00,2016-12-30 09:23:00,273.0,147.0,133.0,253,166,43.64617,-70.30875,40.63975,-73.77893,-0.6,3.0,33.5,2.8,0.0,20.5
5525986,2016-12-30,JFK,BOS,2016-12-30 07:44:00,2016-12-30 08:01:00,2016-12-30 08:43:00,2016-12-30 08:55:00,2016-12-30 07:39:00,2016-12-30 08:46:00,187.0,-5.0,-9.0,166,39,40.63975,-73.77893,42.36435,-71.00518,2.8,0.0,24.1,1.7,0.0,35.3
5525987,2016-12-30,BOS,RIC,2016-12-30 11:00:00,2016-12-30 11:52:00,2016-12-30 13:10:00,2016-12-30 12:51:00,2016-12-30 11:38:00,2016-12-30 13:15:00,474.0,38.0,24.0,39,259,42.36435,-71.00518,37.50517,-77.31967,1.7,0.0,31.7,2.2,0.0,18.4
5525988,2016-12-30,RIC,BOS,2016-12-30 13:30:00,2016-12-30 13:52:00,2016-12-30 15:05:00,2016-12-30 14:59:00,2016-12-30 13:45:00,2016-12-30 15:08:00,474.0,15.0,9.0,259,39,37.50517,-77.31967,42.36435,-71.00518,3.3,0.0,22.3,2.8,0.0,37.1
5525989,2016-12-30,SJU,JFK,2016-12-30 04:50:00,2016-12-30 06:27:00,2016-12-30 09:04:00,2016-12-30 07:50:00,2016-12-30 06:16:00,2016-12-30 09:13:00,1598.0,86.0,83.0,285,166,18.43942,-66.00183,40.63975,-73.77893,25.6,0.0,0.0,2.8,0.0,24.1